<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Installation" value="Installation"/>
    <add key="Clinic" value="QA Clinic"/>
    
    <add key="PatientID" value="002443"/>
    <add key="Phantom" value="labPhantom"/>
    <add key="PhantomImageName" value="labPhantomLung"/>
    <add key="QAPlanIso" value="Volume Isocenter"/>
  </appSettings>
</configuration>